body{
    background-color: lightgray;
    font-family: Helvetica, Arial, sans-serif
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
    grid-template-rows: (4, 1fr);
    grid-template-areas: 
    "n n n n"
    ". h h ."
    "c c c c";
    grid-gap: 10px; 
}

nav {
    background-color: darkslategray;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    grid-area: n;
    z-index: 100;
    opacity: 1;
}
li {
    display: inline-block;
    padding-inline-start: 15%;
    color: lightgray;
    font-size: 120%
}
li:hover {
    color: rgb(221, 65, 65);
}
.heading img {
    width: 45%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.heading{
    grid-area: h;
    display: block
}
.content {
    grid-area: c;
    display: inline-block
}
.headingText {
    text-transform: uppercase;
}

.column{
    float: left;
    height: 100%

}
.column #random{
    width: 30%;
}
.column #bars{
    width: 70%
}
.column #bars img {
    width: 100%;
    height: auto
}
