body {
    margin: 10px
}
.container {
    position: relative
}
.col-1 {
    float: left;
    width: 8.3333333333%;
}
.col-2 {
    float: left;
    width: 16.6666666667%;
}
.col-3 {    
    float: left;
    width: 25%;
}
.col-4 {    
    float: left;
    width: 33.333333333%;
}
.col-5 {    
    float: left;
    width: 41.666666667%;
}
.col-6 {    
    float: left;
    width: 50%;
}
.col-7 {    
    float: left;
    width: 58.333333333%;
}
.col-8 {    
    float: left;
    width: 66.666666667%;
}
.col-9 {    
    float: left;
    width: 75%;
}
.col-10{    
    float: left;
    width: 83.333333333%;
}
.col-11{    
    float: left;
    width: 91.666666666%;
}
.col-12{    
    float: left;
    width: 100%;
}

/* div {
    /* height: 50px; */
    /* border: 1px solid red;
} */ */
/* .heading{
    padding-top: 7%
} */
.row:before {
    display: table;
    content: "";
}
.row:after {
    display: table;
    content: "";
    clear: both;
}
.navbar {
    float: top;
    position: fixed;
    background-color: rgb(235, 232, 230);
    width: 99%;
    height: 7%;
    display: inline-table;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 50;
    overflow: hidden;

}
.navbar-text{
    color: slategray;
    /* width: 20%; */
    flex-wrap: wrap;
    display: inline-block;
    /* padding-top: .5rem; */
    padding-bottom: .5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%
}
.navbar-text:hover {
    background-color: lightgrey
}
#nav-img{
    width: 20%;
    height: auto;
}
.button-text {
    border: 1px solid orangered;
    font-variant-caps: all-small-caps;
    color: orangered
}
.heading {
    position: relative
}
.background-img{
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
    z-index: 10;
    object-fit: fill
}
.in-line-img{
    /* position: absolute;
    top: 40%;
    margin-left: 40%; */
    /* display: inline; */
    /* font-weight: 200; */
    position: absolute;
    top: 42%;
    margin-left: 38%;
    z-index: 20;
}
.in-line-text{
    /* margin: 0 auto; */
    color: gray;
    font-weight: 100;
    position: inline-block;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 38%
}
.in-line-paragraph{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: inline-block;
    margin-left: 20%;
    font-weight: 80;
    font-size: 110%
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}